/* .Moneybox{
  text-align: center;
} */

.ref {
  margin: 10px;
  color: #65a3be;
  text-decoration: none;
}

.ref:hover{
  text-decoration: underline;
}

.count{
  text-align:center;
  color:#333;
}

.coin-img{
  width: 30px;
  height:50px;
}

.coin-box{
  /*border: 1px solid gray;*/
}